*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image:url(glad-donkerblauw-met-zwarte-vignet-studio-goed-gebruikt-als-achtergrond-bedrijfsrapport-digitaal-website-sjabloon_1258-748.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
#groteKnop{
    position: absolute;
    width: 355px;
    height: 477px;
    left: 163px;
    top: 190px;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#groteKnop:hover{
    transform: scale(1.1);
    height: 500px;
    width: 400px;
}
#groteKnop h4{
    margin-top: 420px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
#balk{
    box-sizing: border-box;
    position: absolute;
    width: 1535px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "JetBrains Mono",monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 88px;
    text-align: left;
    padding-left: 40px;
}
#kleineKnop1{
    position: absolute;
    width: 247px;
    height: 220px;
    left: 736px;
    top: 193px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop1:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
#kleineKnop2{
    position: absolute;
    width: 247px;
    height: 212px;
    left: 1044px;
    top: 193px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop2:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
#kleineKnop3{
    position: absolute;
    width: 247px;
    height: 216px;
    left: 736px;
    top: 455px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop3:hover{
    transform: scale(1.1);
    width: 270px;
    height: 230px;
}
#kleineKnop4{
    position: absolute;
    width: 243px;
    height: 212px;
    left: 1048px;
    top: 455px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop4:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
.Home{
  align-items: center;
  left: 150px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  background-image:url(posters-grijze-achtergrond.jpg.jpg);
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.Home:focus {
  box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
}
.Home:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  transform: translateY(-2px);
}
.Home:active {
  box-shadow: #426579 0 3px 7px inset;
  transform: translateY(2px);
}
.binnen{
    align-items: center;
    left: 200px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .binnen:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .binnen:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .binnen:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .binnenZ{
    align-items: center;
    left: 200px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .binnenZ:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .binnenZ:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .binnenZ:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .buiten{
    align-items: center;
    left: 250px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .buiten:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .buiten:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .buiten:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .buitenZ{
    align-items: center;
    left: 250px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .buitenZ:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .buitenZ:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .buitenZ:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .persoon{
    align-items: center;
    left: 300px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .persoon:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .persoon:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .persoon:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .persoonZ{
    align-items: center;
    left: 300px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .persoonZ:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .persoonZ:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .persoonZ:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .gezin{
    align-items: center;
    left: 350px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .gezin:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .gezin:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .gezin:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .gezinZ{
    align-items: center;
    left: 350px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .gezinZ:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .gezinZ:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .gezinZ:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .overOns{
    align-items: center;
    left: 400px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .overOns:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .overOns:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .overOns:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .overOnsZ{
    align-items: center;
    left: 400px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .overOnsZ:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .overOnsZ:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .overOnsZ:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
  .register{
    align-items: center;
    margin-left: 900px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #426579 0, #426579 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  .register:focus {
    box-shadow: #426579 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
  }
  .register:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #426579 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .register:active {
    box-shadow: #426579 0 3px 7px inset;
    transform: translateY(2px);
  }
#foto1{
    padding-top: 120px;
    margin-left: -100px;
}
#foto2{
    padding-top: 0px;
    margin-left: 475px;
}
#foto3{
    margin-top: -610px;
    margin-left: 1000px;
}
#foto4{
    padding-top: 0px;
    margin-left: 385px;
}
#tekst1{
    padding-top: 75px;
    margin-left: -100px;
    inline-size: 500px;
}
#tekst2{
    margin-top: -300px;
    margin-left: 1000px;
    inline-size: 400px;
}
#tekst3{
    margin-top: -450px;
    margin-left: 500px;
    inline-size: 400px;
}
#overons1{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 1075px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons2{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 775px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons3{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 475px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons4{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 175px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#tekst4{
    padding-top: 0px;
    margin-left: -100px;
    inline-size: 470px;
}
#tekst5{
    margin-top: -275px;
    margin-left: 960px;
    inline-size: 450px;
}
#tekst6{
    margin-top: -570px;
    margin-left: 400px;
    inline-size: 500px;
}
#foto13{
    margin-top: -610px;
    margin-left: 935px;
}
.bubbles img {
    width: 50px;
animation: bubbles 7s linear infinite;
}
.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes bubbles {



    0% {
        transform: translateY(0);
        opacity: 0.1;
    }


    50% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.3;

    }



    100% {
        transform: translateY(-80vh);
        opacity: 0.1;
    }


}
.bubbles img:nth-child(1){
    animation-delay: 0.1s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 2s;
}
.bubbles img:nth-child(4){
    animation-delay: 0.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
}
.bubbles img:nth-child(6){
    animation-delay: 1s;
}
.bubbles img:nth-child(7){
    animation-delay: 2.8s;
}
#zb{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation-name: zb;
    animation-duration: 2s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    top: 100px;
    left: 70px;
  
  }
  @keyframes zb {
    0%   {background-color:grey; left:1300px; top:110px;}
    25%  {background-color:#426579; left:-100px; top:110px;}
    50%  {background-color:grey; left:-100px; top:695px;}
    75%  {background-color:#426579; left:1340px; top:695px;}
    100% {background-color:grey; left:1340px; top:120px;}
  }
* {box-sizing: border-box}
.container {
  padding: 16px;
  padding-top: 150px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #3c4fe0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#register{
    margin-top:-80px;
    margin-left: 1200px;
    font-family:Inter;  
}
a:link, a:visited {
    background-color: rgb(130, 130, 130);
    color: black;
   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  #eng{
    background-image: url('scare.gif');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  #music{
    width: 1px; 
  }
#jow{
  text-align: center;
}
#insta1{
  left: 500px;
  margin-top: 200px;
}
#insta2{
  left: 500px;
  margin-top: 200px;
}
#insta3{
  left: 500px;
  margin-top: 200px;
}
#insta4{
  left: 500px;
  margin-top: 200px;
}