*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image:url(glad-donkerblauw-met-zwarte-vignet-studio-goed-gebruikt-als-achtergrond-bedrijfsrapport-digitaal-website-sjabloon_1258-748.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
#groteKnop{
    position: absolute;
    width: 355px;
    height: 477px;
    left: 163px;
    top: 190px;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#groteKnop:hover{
    transform: scale(1.1);
    height: 500px;
    width: 400px;
}
#groteKnop h4{
    margin-top: 420px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
#balk{
    box-sizing: border-box;
    position: absolute;
    width: 1535px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "JetBrains Mono",monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 88px;
    text-align: left;
    padding-left: 40px;
}
#kleineKnop1{
    position: absolute;
    width: 247px;
    height: 220px;
    left: 736px;
    top: 193px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop1:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
#kleineKnop2{
    position: absolute;
    width: 247px;
    height: 212px;
    left: 1044px;
    top: 193px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop2:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
#kleineKnop3{
    position: absolute;
    width: 247px;
    height: 216px;
    left: 736px;
    top: 455px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop3:hover{
    transform: scale(1.1);
    width: 270px;
    height: 230px;
}
#kleineKnop4{
    position: absolute;
    width: 243px;
    height: 212px;
    left: 1048px;
    top: 455px;
    background: #FFFFFF;
    padding-top: 25px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    transition: transform 0.5s;
    border-radius: 15px;
    background-image:url(posters-grijze-achtergrond.jpg.jpg);
    box-shadow: 10px 10px 5px 12px rgb(115, 121, 128);
    transition: width 2s, height 2s;
}
#kleineKnop4:hover{
    transform: scale(1.1);
    width: 260px;
    height: 230px;
}
#foto1{
    padding-top: 120px;
    margin-left: -100px;
}
#foto2{
    padding-top: 0px;
    margin-left: 475px;
}
#foto3{
    margin-top: -610px;
    margin-left: 955px;
}
#foto5{
  margin-top: -610px;
  margin-left: 1000px;
}
#foto4{
    padding-top: 0px;
    margin-left: 385px;
}
#foto31{
  margin-top: -310px;
  margin-left: 955px;
}
#tekst1{
    padding-top: 75px;
    margin-left: -100px;
    inline-size: 500px;
}
#tekst2{
    margin-top: -300px;
    margin-left: 1000px;
    inline-size: 400px;
}
#tekst3{
    margin-top: -450px;
    margin-left: 500px;
    inline-size: 400px;
}
#tekst51{
  margin-top: -170px;
  margin-left: -100px;
  inline-size: 470px;
}
#tekst41{
  margin-top: -270px;
  margin-left: 955px;
  inline-size: 400px;
}
#tekst61{
  margin-top: -490px;
  margin-left: 400px;
  inline-size: 470px;
}
#overons1{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 1075px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons1 p{
  padding-top: 50px;
}
#overons2{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 775px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons2 p{
  padding-top: 50px;
}
#overons3{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 475px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons3 p{
  padding-top: 50px;
}
#overons4{
    position: absolute;
    width: 275px;
    height: 477px;
    left: 175px;
    top: 190px;
    background: #FFFFFF;
    transition: transform 0.5s;
    border-radius: 15px;
    text-align: center;
    word-spacing: 2px;
    color: balck;
}
#overons4 p{
  padding-top: 50px;
}
#tekst4{
    padding-top: 0px;
    margin-left: -100px;
    inline-size: 470px;
}
#tekst5{
    margin-top: -275px;
    margin-left: 960px;
    inline-size: 450px;
}
#tekst6{
    margin-top: -570px;
    margin-left: 400px;
    inline-size: 500px;
}
#foto13{
    margin-top: -610px;
    margin-left: 935px;
}
#zb{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation-name: zb;
    animation-duration: 2s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    top: 100px;
    left: 70px;
  
  }
  @keyframes zb {
    0%   {background-color:grey; left:1300px; top:110px;}
    25%  {background-color:#426579; left:-100px; top:110px;}
    50%  {background-color:grey; left:-100px; top:695px;}
    75%  {background-color:#426579; left:1340px; top:695px;}
    100% {background-color:grey; left:1340px; top:120px;}
  }
* {box-sizing: border-box}
.container {
  padding: 16px;
  padding-top: 150px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #3c4fe0;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity:1;
}
a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
#register{
    margin-top:-80px;
    margin-left: 1200px;
    font-family:Inter;  
}
a:link, a:visited {
    background-color: rgb(130, 130, 130);
    color: black;
   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  #eng{
    background-image: url('scare.gif');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  #music{
    width: 1px; 
  }
#jow{
  text-align: center;
}
#insta{
  left: 500px;
  margin-top: 50px;
}

#tekst7{
  padding-top: 50px;
  margin-left: -100px;
  inline-size: 450px;
}
#tekst8{
 margin-top: -500px;
  margin-left: 500px;
  inline-size: 450px;
}
#tekst9{
 top: 40px;
  margin-left: 1030px;
  inline-size: 450px;
 position: relative;
}